.main {
  background-color: #18181e;
  color: #dec79b;
}

html {
  position: relative;
  min-height: 100%;
}

.nav-bar {
  background-color: #38383f;
}

h1 {
  color: white;
  
}

.container {
  height: 725px;
}

.footer {
  background-color: #38383f;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

#main-body {
  background-color: #18181e;
  color: #dec79b;
  height: 100%;
}

ul {
  list-style-type: none;
}

.port-image {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100%;
}



.main-card {
  margin: 15px;
}

#main-body {
  background-color: #38383f;
  padding: 15px;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: rgb(0, 255, 98);
}

/* selected link */
a:active {
  color: rgb(0, 255, 98);
}
